.render_radio_wrapper {
  label {
    margin: 0 0 0 -10px;
    align-items: flex-start;
    & > :first-child {
      padding: 10px;
      svg {
        font-size: 19px;
        fill: #29323C;
      }
      span:last-of-type{
        display: none;
      }
    }
  }
}