.channels_page {
  .table_container {
    margin: 10px 0 25px;
  }
}

.channel_options_container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  .page_add_btn {
    margin-bottom: 4px;
  }
}

.channels_columns {
  .table_row {
    & > :first-child {
      width: 8%;
    }
    & > :nth-child(2) {
      width: 7%;
    }
    & > :nth-child(3) {
      width: 20%;
    }
    & > :nth-child(4) {
      width: 8%;
    }
    & > :nth-child(5) {
      width: 9%;
    }
    & > :nth-child(6) {
      width: 11%;
    }
    & > :nth-child(7) {
      width: 6%;
    }
    & > :nth-child(8) {
      width: 8%;
    }
    & > :nth-child(9) {
      width: 6%;
    }
    & > :nth-child(10) {
      width: 5%;
    }
    & > :nth-child(11) {
      width: 4%;
    }
    & > :last-child {
      width: 8%;
    }
  }
}

.port_icon {
  .port-wrapper{
    display: flex;
    width: 100%;
    .port{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
      span{
        white-space: nowrap;
      }
    }
  }
  .info-port{
    position: relative;
    cursor: pointer;
    &:hover{
      i{
        display: block;
      }
    }
    i{
      position: absolute;
      top: -30px;
      right: 10px;
      width: 310px;
      height: 30px;
      padding: 5px;
      color: #54606D;
      background: #e9e9e9;
      border: 1px solid #54606D;
      border-radius: 3px;
      display: none;
    }
  }
}

.channels_options_btn {
  button {
    padding: 6px;
    img {
      width: 16px;
    }
  }
}

.status_channel {
  img {
    margin-right: 5px;
  }
}

.client_status_container {
  margin-left: 30px;
}

.rent_attention {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #54606D;
  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}