.dialog_rent_wallet_wrapper {
  .edit_input {
    margin-bottom: 30px;
  }
  .dialog_message {
    padding: 20px 0 40px;
  }
}

.rent_wallet_header {
  color: #29323C;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}